#banner
  .banner_content
    %h1 File Cabinet
    %p Your life's work. Organized, always.
    %button= link_to('Enter', new_user_registration_path)

#callouts
  .callout_inner
    .wrapper
      .callout
        %h2 Organize
        %p Taxidermy vaporware brunch, gochujang direct trade tumeric kogi neutra pug DIY farm-to-table sriracha copper mug dreamcatcher. Man braid PBR&B farm-to-table typewriter unicorn. Edison bulb pop-up succulents taiyaki schlitz irony lumbersexual butcher pabst kickstarter banh mi forage retro freegan. Hashtag marfa synth, butcher kombucha bicycle rights jean shorts live-edge mumblecore. Sustainable bitters cray cliche. Shabby chic unicorn banh mi food truck yuccie. Slow-carb chillwave crucifix, truffaut authentic normcore schlitz drinking vinegar salvia chia kale chips kogi.

#bottom_cta
  .wrapper
    %h2 Go Ahead!
    %br
    %button= link_to("Join Now", new_user_registration_path)